* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Space Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.headerImage {
  background-image: url(../assets/images/image-profile-mobile.webp);
  background-size: contain;
  background-repeat: no-repeat;
  width: 174px;
  height: 383px;
}
.headerNameSocial {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}
.headerName {
  font-size: 1.5rem;
  height: 32px;
  margin-top: 20px;
}
.headerSocials {
  width: 154px;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.headerPageIntro {
  text-align: center;
  width: 100%;
  height: 244px;
  margin-top: 40px;
}
.headerTitle {
  font-size: 40px;
  font-weight: bold;
}
.headerTitleName {
  border-bottom: 3px green solid;
}
.headerParagraph {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: grey;
}
.headerLink {
  font-size: 1rem;
  width: 100%;
  margin-top: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: white;
  border-bottom: 3px green solid;
}
.patternRingHeader {
  position: absolute;
  left: -342px;
  top: 126px;
  z-index: -2;
}
/* LINE */
.line {
  width: 343px;
  margin-top: 2rem;
}
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stack {
  width: 345px;
  height: 646px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.html,
.css,
.javaScript,
.accessibility,
.react,
.sass {
  display: flex;
  flex-direction: column;
}
.skillName {
  font-weight: bold;
  font-size: 2rem;
}
.skillExperience {
  font-size: 1rem;
  color: grey;
}
.projects {
  margin-top: 2rem;
  width: 343px;
}
.projectsHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.projectsTitle {
  font-size: 2.3rem;
}
.projectsLink {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-bottom: solid 3px green;
}
.projectsBox {
  display: grid;
  grid-template-columns: 343px;
}
.projectImage {
  width: 100%;
}
.projectTitle {
  margin-top: 1rem;
  font-size: 1.3rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.tools {
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.linksImage {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
.view,
.code {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: green 3px solid;
  margin-bottom: 2rem;
}

/* CONTACT */
.contactHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.contactTitle {
  font-size: 1.5rem;
}
.contactParagraph {
  padding: 1rem;
  font-weight: 100;
}

.nameForm,
.emailForm {
  border-bottom: 1px solid white;
  height: 43px;
}
.messageForm{
  height: 107px;
  border-bottom: 1px solid white;
}
.nameForm input, .emailForm input, .messageForm input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: rgb(41, 39, 39) ;
  text-transform: uppercase;
  padding-left: 1rem;
}
::placeholder{
  font-size: 1rem;
}
.buttonForm{
  margin-top: 1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  display: flex;
  margin-left: 13rem;
  background-color:rgb(41, 39, 39) ;
  color: white;
  border: none;
  border-bottom: 3px green solid;
  margin-bottom: 3rem;
  cursor: pointer;
}
.buttonForm:hover{
  color: green;
}

/* FOOTER */
.footer{
  margin-bottom: 3rem;
  width: 154px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.footerName{
  margin-bottom: 1rem;
}
.footerSocials{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

/* TABLET */

@media only screen and (min-width:768px){
  .patternRingHeader{
    left: -265px;
    top: 86px;
    z-index: -2;
  }
.headerNameSocials{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  z-index: 2;
  position: relative;
}
.headerSocials{
  width: 15rem;
  z-index: 3;
}
.headerImageText{
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
}
.headerImage{
  background-image: url(../assets/images/image-profile-tablet.webp);
  background-position: top;
  background-size:cover ;
  width: 322px;
  height: 400px;
  position: relative;
  margin-left: 25rem;
}
.headerPageIntro{
 position: absolute;
 top: 0;
 left: 2rem;
 margin-right: 2rem;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
}

.headerTitle{
  width: 415px;
  font-size: 4.2rem;
  text-align: left;
  overflow: visible;
  z-index: 1;

}
.headerParagraph{
  width: 24rem;
  font-weight: bold;
  text-align: left;
  line-height: 1.7rem;
}
.headerLink{
width: 15%;
border-bottom: 3px green solid;
}

.line{
  margin-top: 4rem;
  width: 90%;
}
.stack{
  width: 708px;
  height: 451px;
  display: grid;
  grid-template-columns: 345px 345px;
 text-align: left;
 margin-left: 2rem;
}
.projects{
width: 718px;
}
.projectsTitle{
  margin-bottom: 2rem;
}

.projectsBox{
  display: grid;
  grid-template-columns: 345px 345px;
  text-align: left;
  gap: 1.5rem;
}
.contact{
  width: 100%;
  background-color: rgb(41, 39, 39);
}
.contactTitle{
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: 500;
}
.contactParagraph{
  width: 23.5rem;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}
.contacForm{
  width: 20rem;
  justify-content: center;
  text-align: center;
  margin: auto;
}
.buttonForm{
  width: 8.5rem;
  font-size: 1rem;
}
.footer{
  background-color: rgb(41, 39, 39);;
  width: 100%;
  padding-bottom: 3rem;
}
.footerNameSocial{
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footerSocials{
  width: 15rem;
  
}

}